# Question 1:
Write a Python script to print a dictionary (name: dict1) where the keys are numbers
between 1 and 10 (both included) and the values are square of keys.

In [10]:
dict1={}
for x in range(1,11):
    dict1.update({x : x**2})
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Question 2:
Below are the two list convert it into a dictionary (name: dict2).
Keys = [‘One’, ‘Two’, ‘Three’, ‘Four’, ‘Five’]
Values = [10, 20, 30, 40, 50 ]

In [11]:
dict2={}
keys = ['One', 'Two', 'Three', 'Four','Five']
values = [10, 20, 30, 40, 50 ]
for x in range(5):
    dict2.update({keys[x]:values[x]})
dict2

{'One': 10, 'Two': 20, 'Three': 30, 'Four': 40, 'Five': 50}

# Question 3:
Merge above two Python dictionaries (dict1 and dict2) into one (name: dict_merg).

In [12]:
dict_merge = dict1.copy()
dict_merge.update(dict2)
dict_merge

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 'One': 10,
 'Two': 20,
 'Three': 30,
 'Four': 40,
 'Five': 50}

# Question 4:
Considering a dictionary (dict1), write a Python script to check whether a given key (taking
as any input) already exists in a dictionary or not (use if/else conditions).
Output will be like:
Key is present in the dictionary. OR
Key is not present in the dictionary

In [13]:
dict3={'Name':'Sohaib', 'Uni':'FAST', 'Batch':'2021', 'Section':'E'}
var = input("Please enter the key you want to check wheather it is present or not in the above dictionary: ")
if (var=='Name' or var=='Uni' or var=='Batch' or var=='Section'):
    print("The key is present in the dictionary")
else:
    print("The key is not present in the dictionary")

Please enter the key you want to check wheather it is present or not in the above dictionary: Uni
The key is present in the dictionary

# #Question 5:
Create a new dictionary by extracting the following keys from a given dictionary sample
Dict = { &quot;name&quot;: &quot;Kelly&quot;, &quot;age&quot;:25, &quot;salary&quot;: 8000, &quot;city&quot;: &quot;New york&quot; }
Keys to extract: keys = [‘name’, ‘salary’]
Expected output:
{&#39;name&#39;: &#39;Kelly&#39;, &#39;salary&#39;: 8000}

In [14]:
dict4={ "name": "Kelly", "age": "25", "salary": "8000", "city": "New york" }
print("The given dictionary is: ",dict4)
del dict4["age"]
del dict4["city"]
print("The dictionary after extraction is: ",dict4)

The given dictionary is:  {'name': 'Kelly', 'age': '25', 'salary': '8000', 'city': 'New york'}
The dictionary after extraction is:  {'name': 'Kelly', 'salary': '8000'}

# Question 6:
Delete set of keys from Python Dictionary and keys To Remove = [&quot;name&quot;, &quot;salary&quot;]

In [15]:
dict4={ "name": "Kelly", "age": "25", "salary": "8000", "city": "New york" }
del dict4["name"]
del dict4["salary"]
dict4

{'age': '25', 'city': 'New york'}

# Question 7:
*Display the cube of the number up to a given integer.

In [17]:
N=int(input("Enter the number : "))
ans = N**3
print("The cube of ",N, "is",ans )

Enter the number : 3
The cube of  3 is 27

# Question 8:
Display -10 to -1 using for loop.

In [18]:
for x in range(-10,0):
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# Question 9:
Check if a value 200 exists in a dictionary.
sampleDict = {&#39;a&#39;: 100, &#39;b&#39;: 200, &#39;c&#39;: 300}

In [19]:
dict5={'a':100,'b':200,'c':300,'d':340}
V=200
if V in dict5.values():
    print("The value is present in dictionary")
else:
    print("The value is not present in dictionary")

The value is present in dictionary

# Question 10:
Print First 10 natural numbers using while loop. Print the following pattern

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
i = 1
while(i<=10):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [21]:

i=1
while(i<=5):
    j=1
    while(j<=i):
        print(j, end=" ")
        j=j+1
    print()
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5